*{
    margin: 0;
    padding: 0;
}


:root{
    --sample-code-info-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.title-h1{
    text-align: center;
    padding: 3rem 0;
    background: darkgray;
    border: solid 1.5rem gray
}




.nav{
    position:sticky;
    top: -1px;
}




.nav-flex-container{
    display: flex;
    flex-direction: column;
    
    

    max-width: 20rem;
    width:100%;
    text-align: center;

}
#return-to-index-link{
    padding:1rem;
    background: darkgray;
    border: solid 1rem gray;
    color: whitesmoke;


    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}
#return-to-index-link:hover{
    background: whitesmoke;
    color: black;
}


#current-language-learning{
}

#current-language-learning h2{
    padding: 1rem;
    text-decoration: underline;
    background-color: lightgray;
    border: solid 1rem gray;
}

.code-links-container{
    display: flex;
}
.code-links-container a{
    width:100%;
    background: darkgray;
    border: solid 0.5rem gray;

    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
}
.code-links-container a:hover{
    background: whitesmoke;
    color: black;
}






/* Rest of the containers */
.sample-code-section{
    margin: 5rem auto;
    text-align: center;
    max-width: 60rem;
}
.sample-code-title{
    margin: 0 auto;
    padding: 1rem 3rem;

    background: lightgray;
    border: solid 0.5rem gray;
}
.sample-code-container{
    background: lightgray;
    border: darkgray solid 0.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sample-code-info-container{
    text-align: center;
}
.sample-code-info-container h3{
    font-family: var(--sample-code-info-font);
    text-decoration: underline;
    font-weight: bold;
}
.sample-code-info-container p{
    padding: 0.5rem 0;
}
.sample-code-container img{
    max-width: 40rem;
    width: 100%;
}