*{
    background-color: purple;
    margin: 0;
    padding: 0;
}

:root{
    /* Font for all links */
    --link-font: 'Courier New', Courier, monospace;
    --link-color: black;



    --art-title-image: slategray;

    --programming-title-image: slategray;
    --programming-menu-image: slategray;
}


/* Header and Navigation */
header h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    background-color: gray;
    padding: 5rem 2rem;
}


nav{
    position: sticky;
    /* For the sticky position */
    top: -1px;

    background-color: gray;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a{
    max-width: 100%;

    flex-grow: 1;

    text-decoration: none;
    text-align: center;
    font-family: var(--link-font);
    font-size: 1.5rem;
    
    background-color: gray;
    color: black;
    width: 10rem;
    padding: 0.5rem;
    border: solid darkgray;
}
nav a:hover{
    /* Change the background, border, and font color */
    background-color: darkgray;
}
/* Header and Navigation */



/* Section Class */
.section-container{
    border: solid 1rem black;
    margin: 10rem auto;
    text-align: center;
    background-color: gray;
    max-width: 60rem;
    height: 100%;
    max-height: 30rem;
}
.section-title{
    text-align: center;
    font-size: 1.5rem;
    width:100%;
    max-width: 60rem;
    padding: 10rem 0;
    border-bottom: 1rem solid;
}



/* About Section */
#about-section{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 60rem;
    max-height: 100%;
}

#about-section .section-title{
    background: slategray;
}

#about-image-background{
    background-color: cyan;
    width: 50%;
    display: flex;
    justify-content: center;
}
#about-image-background img{
    margin: 1rem;
    border: 1rem solid gray;
    border-radius: 3rem;
}

#information-container{
    width: 50%;
    background-color: black;
}
.info-box{
    display: flex;
    width: 100%;
    border: solid 0.5rem yellow;
}
.info-title{
    background-color: white;
    width: 100%;
}
.info{
    background-color: pink;
    width: 100%;
}
#degree-container{
    max-width: 100%;
    width: 100%;
}





/* Art Section */
#art-section{
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}
#art-section .section-title{
    background: var(--art-title-image);
}
.art-button-container{
    background: yellow;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.art-button{
    padding: 10% 5%;
    margin:0 1rem;
    background: cyan;
    border: solid blue 1rem;
    color: var(--link-color);
}
.art-button:hover{
    background: gray;
}

.art-img-container{
    background: green;
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
}
#art-img{
    background: red;
    padding: 5% 10%;
    width: 100%;
    max-width: 50%;
}



/* Programming section */
#programming-section{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
#programming-section .section-title{
    background: var(--programming-title-image);
}
#programming-menu-container{
    padding: 20%;
    background: var(--programming-menu-image);
}

.program-button{
    padding: 5% 25%;
    border:solid black 1rem;
    background: gray;
}
