*{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

:root{
    /* Font for all links */
    --link-font: 'Courier New', Courier, monospace;
}


/* Header and Navigation */
header h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    background-color: gray;
    padding: 5rem 2rem;
}


nav{
    position: sticky;
    /* For the sticky position */
    top: -1px;

    background-color: gray;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a{
    max-width: 100%;

    flex-grow: 1;

    text-decoration: none;
    text-align: center;
    font-family: var(--link-font);
    font-size: 1.5rem;
    
    background-color: gray;
    color: black;
    width: 10rem;
    padding: 0;
    border: solid darkgray;
}
nav a:hover{
    /* Change the background, border, and font color */
    background-color: darkgray;
}

/* Header and Navigation */



/* Section Class */
.section-container{
    margin: 0 auto;
    display: grid;
    text-align: center;
    width: 40rem;
    height: 40rem;
    background-color: gray;
}
.section-title{
    font-size: 1.5rem;
}



/* About Section */
#about-section{
    grid-template-columns: 50% 50%;
}

#about-section .section-title{
    background-color: red;
}

#about-image-background{
    background-color: cyan;
    width: 100%;
}
#about-image-background img{
    margin: 50%;
}
